a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}

.custom-toggler {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a');
}

.main-navbar {
    background: #FFDD59;
}

.nav-container {
    padding-left: 250px;
    padding-right: 250px;
}

.navbar-button {
    width: 100px;
    background: #D35400;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    text-align: center;
}

.navbar-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
}

body {
    background: rgba(255, 107, 107, 0.68);
}

.image-div {
    padding: 20px;
}

.jumbotron-image {
    width: 60%;
    height: 60%;
    box-sizing: border-box;
    border-radius: 50px;
}

.border-line-main {
    border: 10px solid #F3190B;
}

.text-main {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    padding: 20px;
}

.text-sub, .form-label {
    font-family: 'Chivo', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}

.projects-text, .academic-text, .work-text {
    font-family: 'Bitter', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    padding: 20px;
}

.border-line-sub {
    border: 10px solid #CFD300;
    border-style: dashed solid;
}

.project-div, .academic-div {
    background: #f2f2f2;
    margin: 20px;
    border-radius: 20px;
}

.project-logo, .academic-logo {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 70px;
    background-size: 100%;
}

.fuki-logo {
    width: 200px;
    height: 240px;
    background-image: url("/static/images/static_lpj_images_logo-fuki.c38867a624ea.png");
}

.rumbuk-logo {
    width: 250px;
    height: 200px;
    background-image: url("/static/images/jumbotronRUMBUK-01.2eeeacc9b72b.png");
}

.ui-logo {
    width: 200px;
    height: 200px;
    background-image: url("/static/images/UI_Logo.svg.23caa5c5cf1c.png");
}

.sma-logo {
    width: 200px;
    height: 200px;
    background-image: url("/static/images/LOGO_SMAN_49_JAKARTA.0952d8458cad.png");
}

.contacts {
    padding: 10px;
}

.contact-logo {
    display: inline-block;
    width: 100px;
    height: 90px;
    box-sizing: border-box;
    background-size: 100%;
    border: 5px solid black;
}

.linkedin-logo {
    background-image: url("/static/images/linkedin.49f6988a8698.png");
}

.gitlab-logo {
    background-image: url("/static/images/gitlab.0b343aa7d621.png");
}

.project-desc, .academic-desc, .article-desc {
    font-family: 'Chivo', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    margin: auto;
    padding-right: 200px;
}

.avatar-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.bio-desc {
    background: #f2f2f2;
    width: 50%;
    justify-content: center;
    margin-bottom: 40px;
}

.skill-logo-div {
    margin-top: 40px;
}

.skill-div {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
}

.skill-img {
    border-radius: 50%;
}

.article-div {
    border-style: dotted;
    margin: 20px;
}

.article-cover {
    border-radius: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.article-desc {
    padding-right: 100px;
}

.form-block {
    width: 600px;
    margin: auto;
    background: linear-gradient(to bottom right, #e1eec3, #f05053);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .form-block {
        width: 75%;
    }

    .contact-logo {
        width: 65px;
        height: 60px;
    }

    .navbar-button {
        width: 90px;
    }

    .nav-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .article-div {
        margin: auto;
    }

    .article-desc {
        padding-right: 20px;
    }

    .article-cover {
        width: 290px;
    }

    .lpj-image {
        width: 120px;
        height: 150px;
    }

    .rumbuk-image, .rumbuk-logo {
        width: 230px;
        height: 120px;
        margin-bottom: 20px;
    }
    
    .project-desc {
        font-size: 12px;
    }

    .text-sub {
        font-size: 16px;
    }

    .ui-logo, .sma-logo {
        width: 100px;
        height: 100px;
    }

    .fuki-logo {
        width: 100px;
        height: 120px;
    }

    .academic-desc {
        font-size: 16px;
    }

    .skill-img {
        width: 100px;
        height: 100px;
    }

}

@media only screen and (min-width: 600px) {
    .form-block {
        width: 75%;
    }

    .contact-logo {
        width: 70px;
        height: 65px;
    }

    .nav-container {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (min-width: 768px) {
    .form-block {
        width: 75%;
    }

    .nav-container {
        padding-left: 300px;
        padding-right: 300px;
    }
}

@media only screen and (min-width: 992px) {
    .form-block {
        width: 75%;
    }

    .nav-container {
        padding-left: 200px;
        padding-right: 200px;
    }
}