<!DOCTYPE html>
<html lang="en">
    <nav class="navbar navbar-expand-lg main-navbar">
        <a class="navbar-brand navbar-button" href="{% url 'status:index' %}">Home</a>
        <a class="navbar-brand navbar-button" href="{% url 'status:profile' %}">Profile</a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</html>