{% extends 'layout/base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
    {% block title %}
        Yaumi Alfadha - About
    {% endblock title %}

    {% block content %}
        <div class="main-div">
            <div class="image-div">
                <img class="mx-auto d-block avatar-image" src="https://preview.ibb.co/gCZLop/self.jpg">
            </div>

            <div>
                <h1 class="text-main">Tentang saya</h1>
            </div>

            <div class="bio-desc mx-auto d-block">
                <h4 class="text-sub">Yaumi Alfadha</h4>
                <h4 class="text-sub">Jakarta</h4>
                <h4 class="text-sub">Web Developer</h4>
            </div>

            <div class="border-line-main"></div>

            <div>
                <h1 class="academic-text">Academic History</h1>
            </div>

            <div class="container mx-auto d-block academic-div">
                <div class="row">
                    <div class="col">
                        <a class="ui-logo academic-logo" title="ui-logo"></a>
                    </div>
                    <div class="col academic-desc">
                        <p>Universitas Indonesia</p>
                        <p>Computer Science Major</p>
                        <p>2017 - Current</p>
                    </div>
                </div>
            </div>



            <div class="border-line-main"></div>

            <div>
                <h1 class="work-text">Work Experience</h1>
            </div>

            <div class="container mx-auto d-block project-div">
                <div class="row">
                    <div class="col">
                        <a class="fuki-logo project-logo" title="fuki-logo"></a>
                    </div>
                    <div class="col project-desc">
                        <p>FUKI Fasilkom UI 2018</p>
                        <p>Penjagaan Aset FUKI</p>
                    </div>
                </div>
            </div>

            <div class="border-line-main"></div>

            <div class="container mx-auto d-block skill-div">
                <h1>Skills</h1>
            </div>

            <div class="container skill-logo-div" style="margin-bottom: 20px;">
                <div class="row">
                    <div class="col">
                        <img class="skill-img" src="{% static 'images/java.png' %}" width="200px" height="200px" alt="java-logo">
                    </div>
                    <div class="col">
                        <img class="skill-img" src="{% static 'images/python.png' %}" width="200px" height="200px" alt="python-logo">
                    </div>
                    <div class="col">
                        <img class="skill-img" src="{% static 'images/HTML5_Badge_256.png' %}" width="200px" height="200px" alt="html-logo">
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
</html>